* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 70px;
  background-color: beige;
}

/* .main {
  display: grid;
} */

.heading-primary {
  font-size: 40px;
}

.heading-secondary {
  font-size: 30px;
  margin-bottom: 18px;
  margin-top: 44px;
}

.heading-tertiary {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
}

.nav__list,
.contacts__list,
.skills__list,
.courses__list {
  list-style: none;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  font-size: 14px;
  font-weight: 300;
  padding: 0 24px;
  margin-top: 24px;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
}

.nav__link:hover,
.nav__link:active {
  cursor: pointer;
}

/*
.profile {}*/

.cv-photo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

.footer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.rss-logo {
  height: 40px;
  width: 100%;
}

.github-logo {
  height: 40px;
  width: 40px;
}
